body {
  margin: 0;
  background: #0a0a13;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#collapseBtn {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px 13px;
  background: rgba(255,255,255,0.15);
  border-radius: 6px;
  font-size: 22px;
  cursor: pointer;
  z-index: 99999;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  padding: 15px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);
  border-right: 2px solid rgba(255,255,255,0.1);
  overflow-y: auto;
  transition: 0.3s;
}

#sidebar.collapsed {
  transform: translateX(-290px);
}

#previewArea {
  width: 100vw;
  height: 100vh;
}

#preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 12px;
  background-size: 400% 400%;
  z-index: 9999;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
